.importantTasks__container {
  max-width: 80%;
  width: 80%;
  padding: 0 18px;

  .importantTasks__header {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #2564cf;
    margin-bottom: 44px;

    &--icon {
      display: flex;
      align-items: center;
    }
  }
}
