.importantTasks__container {
  max-width: 80%;
  width: 80%;
  padding: 0 18px;
  position: relative;

  .importantTasks__header {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #2564cf;
    margin-bottom: 44px;

    &--icon {
      display: flex;
      align-items: center;
    }
  }

  .important__tasks--empty {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-style: italic;
    opacity: 0.3;
    text-shadow: 2px 2px 6px #000;
  }
}
