.task__list {
  margin-top: 12px;

  .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid rgb(235, 235, 235);

    .task__checkbox-title,
    .task__important-showDetails {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .task__checkbox-title {
      .task__title {
        color: #595858;
      }
    }

    .task__important-showDetails {
      .task__important--icon,
      .task__showDetails--icon {
        display: flex;
        align-items: center;
        font-size: 20px;
        color: #595858;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
